<main class="contenedor contenido-principal">
    <section class="contenido">
        <h2><span>Conoce mas</span>sobre nosotros</h2>

        <div class="contenido-nosotros">
            <div class="imagen-nosotros">
                <img src="../../../../assets/img/nosotros_sidebar.jpg" alt="img-nosotros">
            </div>
            <div class="texto-nosotros">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dicta? 
                    Ea delectus quam fugit aut cumque temporibus molestiae libero,
                    repudiandae facilis, laborum nobis a praesentium inventore? 
                    Dignissimos illo hic atque.
                </p>
                <blockquote>Excelente sabor!</blockquote>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dicta? 
                    Ea delectus quam fugit aut cumque temporibus molestiae libero,
                    repudiandae facilis, laborum nobis a praesentium inventore? 
                    Dignissimos illo hic atque.
                </p>
                
            </div>
        </div>
        
    </section>

   
</main>


    
