<main class="contenedor contenido-principal">
    <section class="contenido">
        <h2><span>Utilizamos los</span>mejores ingredientes</h2>

        <div class="contenido-cafe">
            <div class="menu-cafe" >

                <div class="texto-menu">
                    <p>{{this.menuContent}}</p>
                </div>

                <div class="imagen-menu">
                   
                </div>

            </div>
        </div>
       
    </section>

   
</main>
<app-menu-base></app-menu-base>