<main class="contenedor contenido-principal">
    <section class="contenido">
        <h2><span>Conoce mas</span>sobre nosotros</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dicta? 
            Ea delectus quam fugit aut cumque temporibus molestiae libero,
            repudiandae facilis, laborum nobis a praesentium inventore? 
            Dignissimos illo hic atque.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, dicta? 
            Ea delectus quam fugit aut cumque temporibus molestiae libero,
            repudiandae facilis, laborum nobis a praesentium inventore? 
            Dignissimos illo hic atque.
        </p>
    </section>

    <section class="iconos">
        <ul class="lista-iconos">
            <li>
                <img src="../../../../assets/img/icono_cafe.svg" alt="icono-cafe">
                <p>Cafe</p>
            </li>
            <li>
                <img src="../../../../assets/img/icono_postre.svg" alt="icono-postres">
                <p>Postres</p>
            </li>
            <li>
                <img src="../../../../assets/img/icono_te.svg" alt="icono-te">
                <p>Te</p>
            </li>
        </ul>
    </section>
    
</main>
<app-galeria-base></app-galeria-base>
<app-menu-base></app-menu-base>

<app-testimoniales></app-testimoniales>