<section class="nuestros-testimoniales contenedor m-negativo">
    <h2><span>Lo que dicen nuestros</span>Clientess</h2>

        <div class="testimonial">
            <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
             Explicabo fuga, labore fugiat sit eveniet maiores asperiores
              placeat a totam laboriosam accusantium voluptatum magni dolorem 
              maxime expedita incidunt excepturi sunt porro?
            </p>
            <p class="autor">- Marcos Vicent</p>
        </div>
    
</section>