@use "../../../mixsin.scss" as m;
@use "../../../variables.scss" as v;


.header{
    padding: 3rem 0;
    background-repeat: no-repeat;
    position: relative;
   
    background-position: left center;
    

    @include m.telefono{
        padding: 2rem 0;
        background-position: top;
    };

    @include m.tablet{
       min-height: 45rem;
       max-height: 55rem;
    }

    &::before{
        content: "";
        background-color: v.$negro;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        width: 100%;
        height: 100%;
    }
    .contenido-header{
        position: relative;
        margin: 3rem auto;
    }
}

.barra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include m.tablet{
        flex-direction: row;
    }

    .logo{
        display: block;
        width: 100%;
        
    }

    .logo img{
        width: 50%;
        margin: 0 5rem;
        
        @include m.tablet{
            max-width: 10rem;
            margin: 0%;
        }
        
        
    }
    .navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.66rem;
        margin: 1rem;

        @include m.tablet{
            flex-direction: row;
            gap: 1rem;
            margin: 0;
        }

        .link{
            color: v.$blanco;
            text-transform: uppercase;
            font-weight: 700;

            &:hover{
                color: v.$primario;
            }
        }


    }

    
    
   
}

.slogan{
    h1{
        text-align: center;
        color: v.$blanco;
        text-transform: uppercase;
        line-height: 1.5;
        @include m.tablet{
            margin-top: 7rem;
        }
    }
}


